$def with(project,idc,apply)
<div id="content" style="">
<form action='' method="post">
<table>
	<tr>
		<td colspan=2><h1><b>更新应用信息</b></h1></td>
	</tr>
	
	<tr>
		<td><label>站点名称</label></td>
		<td><input type="text" name="sitename" value="$apply.sitename"/><span class="zhushi">*</span></td>
	</tr>
	
	<tr>
		<td><label>I D C <label></td>
		<td><select name='idc'>
		$for i in idc:
			$if apply.idc == i.iid:
				<option value='$i.iid' selected="select">$i.idcname</option>
			$else:
				<option value='$i.iid'>$i.idcname</option>
		</select>
		</td>
	</tr>

	<tr>
		<td><label>项<span style="color:#ffffff;">☺ </span>目</label></td>
		<td><select name='project'>
		$for p in project:
			$if apply.project == p.pid:
				<option value='$p.pid' selected="select">$p.project</option>
			$else:
				<option value='$p.pid'>$p.project</option>
		</select>
		</td>
	</tr>
	
		<tr>
		<td><label>服务器IP</label></td>
		<td><input type="text" name="machineip" value="$apply.addr_ip"/> <span class="zhushi">*</span></td>
		
	</tr>

	<tr>
		<td><label>应用软件</label></td>
		<td><input type="text" name="sofeware" value="$apply.sofeware"/></td>
	</tr>
	<tr>
		<td><label>数据目录</label></td><td><input type="text" name="datadir" value="$apply.datadir"/></td>
	</tr>
	<tr>
		<td><label>启动脚本</label></td><td><input type="text" name="startscrite" value="$apply.startscrite"/></td>
	</tr>
	<tr>
	 <td><label>监听端口</label></td><td><input type="text" name="port" value="$apply.port"/></td>
	</tr>
	<tr>
	 <td><label>数据库连接配置文件</label></td><td><input type="text" name="mysql_conf" value="$apply.mysql_conf"/></td>
	</tr>
	<tr>
	 <td><label>数据库服务器IP</label></td><td><input type="text" name="mysql_ip" value="$apply.mysql_ip"/></td>
	</tr>
	<tr>
	 <td><label>数据库软件</label></td><td><input type="text" name="mysql_stype" value="$apply.mysql_stype"/></td>
	</tr>
	<tr>
	 <td><label>数据库名称</label></td><td><input type="text" name="mysql_name" value="$apply.mysql_name"/></td>
	</tr>
	<tr>
	 <td><label>账<span style="color:#ffffff;">☺ </span>号</label></td><td><input type="text" name="mysql_use" value="$apply.mysql_use"/></td>
	</tr>
	<tr>
	 <td><label>密<span style="color:#ffffff;">☺ </span>码</label></td><td><input type="text" name="mysql_pw" value="$apply.mysql_pw"/></td>
	</tr>
	<tr>
	 <td><label>开发人员</label></td><td><input type="text" name="dev_name" value="$apply.dev_name"/></td>
	</tr>
	<tr>
	 <td><label>备<span style="color:#ffffff;">☺ </span>注</label></td><td><input type="text" name="other" value="$apply.other"/></td>
	</tr>

		<tr><td><label>修 改 人</label></td><td> &nbsp;$apply.modifyman</td></tr>
		<div style="display:none"><input type="text" name='aid' value='$apply.aid' /></div>
		<tr><td colspan=2 class='c'><input type="submit" name="modify_apply" class='button' value="修 改" style='width: 80px'/></td></tr>
</table>
</form>
</div>

