<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>保网应用发布系统</title>
<link href="$config.static/css/loginstyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
<form action="" id="loginForm" method="post">
	<h3>管理员登陆</h3>
	<label for="userName"><span>用户名：</span><input id="userName" name="username" type="text" /></label>
	<label for="passWord"><span>密码：</span><input id="passWord" name="password" type="password" /></label>
	<label><input name="" type="submit" class="bt" value="确定" />
	</label>
</form>
</body>
</html>

